# ignore ALL .log files
*.log

# ignore executable files
*.o
*.out
*.bin
*.run
*.exe

# ignore MathMan executable file
MathMan
MathMan.*

# ignore ALL files in ANY directory named temp
temp/
test/
.vscode/
